/builddir/
/backup/
/subprojects/packagecache/
/subprojects/libyaml.wrap
/subprojects/yaml-?.?.?/
/subprojects/binutils-?.??/
/subprojects/squirrel/
/subprojects/squirrel_???/
/subprojects/quirrel/
/subprojects/tpp/
/subprojects/sourcepawn/
/subprojects/amtl/
/*.sublime-workspace
/*.sublime-project
/compile_flags.txt
