builddir/
subprojects/packagecache/
subprojects/libyaml.wrap
subprojects/yaml-?.?.?/
subprojects/binutils-?.??/
subprojects/squirrel/
subprojects/squirrel*/
subprojects/quirrel/
subprojects/tpp/
*.sublime-workspace
*.sublime-project
src/vm/